LiarsDice/__pycache__/LiarsDice.cpython-313.pyc
LiarsDice.egg-info/dependency_links.txt
LiarsDice.egg-info/entry_points.txt
LiarsDice.egg-info/PKG-INFO
LiarsDice.egg-info/SOURCES.txt
LiarsDice.egg-info/top_level.txt
